<h1>University Registrar</h1>

<h2>@Model["student"].GetName()</h2>

<p>Enrollment Date: @Model["student"].GetEnrollment()</p>

<h3>Courses Enrolled:</h3>
<ul>
  @if (Model["courses"].Count != 0)
  {
    @foreach (var course in Model["courses"])
    {
      <li><a href="/courses/@course.GetId()">@course.GetName()</a></li>
    }
  }
  else
  {
    <li>No courses yet.</li>
  }
</ul>

@if (Model["all-courses"].Count != 0)
{
<form action="/students/add/course" method="post">
  <input name="student-id" value=@Model["student"].GetId() type="hidden">
  <label for="course-name">Enroll in course:</label>
  <select name="course-name">
      @foreach (var course in Model["all-courses"])
      {
        <option value=@course.GetId()>@course.GetName() (@course.GetCourseNumber())</option>
      }
  </select>
  <button type="submit">Enroll</button>
</form>

<form action='/student/@Model["student"].GetId()/withdraw' method='post'>

  <label for="course-name">Withdraw from Course:</label>
  <select name="course-name">
      @foreach (var course in Model["all-courses"])
      {
        <option value=@course.GetId()>@course.GetName() (@course.GetCourseNumber())</option>
      }
  </select>
  <button type="submit">Withdraw</button>

</form>
}

<a href='/students/@Model["student"].GetId()/delete'>Delete this student</a>

<a href="/">Back</a>
